<h3>REPOS</h3>

<ul>
  <li>{{link-to "Repo A" "org.repo.issues" "repo-a"}}</li>
  <li>{{link-to "Repo B" "org.repo.issues" "repo-b"}}</li>
  <li>{{link-to "Repo C" "org.repo.issues" "repo-c"}}</li>
</ul>

{{outlet}}
